@model TicketSaleCore.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buyer.Id)
        </dd>
    </dl>
</div>
<div>
  @*<a asp-action="Index">Back to List</a>*@
</div>
