@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Access Denied";
}
<div class="ui text container" >

    <div class="ui negative message">
        <div class="header">@Localizer["Access Denied"]</div>
        <p>@Localizer["You do not have access to this resource"]</p>
    </div>
</div>