@model TicketSaleCore.Features.Orders.OrderStatus.ViewModels.OrderStatusEditCreateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Features.Events.EventsType.ViewModels
@using TicketSaleCore.Features.Orders.OrderStatus.ViewModels
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit"];
}


<form class="ui form"
      asp-action="Edit"
      method="post">
    <div class="field">
        <label asp-for="StatusName"></label>
        <input asp-for="StatusName" type="text" placeholder="@Localizer["name"]" />
    </div>
    <div class="ui blue submit button">@Localizer["Submit"]</div>
</form>

<script type="text/javascript">
    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            fields: {
                name: {
                    identifier: 'StatusName',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '@Localizer["Please enter name"]'
                        }
                    ]
                }
            }
        });
</script>