@model TicketSaleCore.Features.Cities.ViewModels.CityEditCreateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create new City";
}

<h2>Create</h2>

<form class="ui form"
      asp-controller="Cities"
      asp-action="Create" method="post">
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" name="Name" placeholder="City name" />
    </div>
  
    <div class="ui blue submit button">Create</div>
    
</form>
@Html.ModelStateValidMsge(ViewData.ModelState, Localizer)
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            fields: {
                name: {
                    identifier: 'Name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter City name'
                        }
                    ]
                }
            }
        });
</script>

