@model TicketSaleCore.Features.Cities.ViewModels.CityEditCreateViewModel

    @{
        ViewData["Title"] = "City Edit";
    }


<form class="ui form"
      asp-controller="Cities"
      asp-action="Edit" method="post">
        <div class="field">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" name="Name"  placeholder="City name" />
        </div>
    <div class="ui blue submit button">Submit</div>
</form>


            
<script type="text/javascript">
    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            fields: {
                name: {
                    identifier: 'Name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter City name'
                        }
                    ]
                }
            }
        });
</script>
<script type="text/javascript">
    
</script>