@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketSaleCore</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/semantic-ui-calendar/dist/calendar.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="transition" asp-fallback-test-property="animation-iteration-count" asp-fallback-test-value="1" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/semantic-ui-calendar/dist/calendar.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="ui fixed  menu" style="height: 30px">
        <a class="item" asp-controller="Home" asp-action="Index">Home</a>
        <a class="item" asp-controller="Home" asp-action="About">About</a>
        <a class="item" asp-controller="Home" asp-action="Contact">Contact</a>
        <div class="right menu">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    <div class="ui main text container">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; 2017 - TicketSaleCore</p>
        @await Html.PartialAsync("_SelectLanguagePartial")
    </footer>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/semantic-ui-calendar/dist/calendar.js" asp-append-version="true"></script>
        
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/js/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.site">

        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/semantic-ui-calendar/dist/calendar.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
