@using Microsoft.AspNetCore.Identity
@using TicketSaleCore.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="item" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" class="item">
        <button type="submit" class="negative ui button">Log out</button>
    </form>
    if (User.IsInRole("admin"))
    {
        <div class="item">
            <a class="circular ui icon button" asp-controller="Users" asp-action="Index">
                <i class="icon settings"></i>
            </a>
        </div>

    }

}

else
{
    <div class="ui buttons">
        <a class="ui button" asp-controller="Account" asp-action="Register">
            <i class="signup icon"></i>
            Register
        </a>
        <div class="or"></div>
        <a class="ui positive button" asp-action="Login" asp-controller="Account">Login</a>
    </div>
}
