@model TicketSaleCore.Models.Event
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
}
else
{
}

<div class="col-md-5">
    <h3>@ViewData["MyTitle"].ToString()</h3>
    <h3>@ViewData["MyTitle1"].ToString()</h3>
       
    <img src=@Model.Banner style='height:60px;'/>
</div>
<a asp-controller="Events" asp-action="Index">Events</a>
